<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table
        {
            background-color: black;
            color: orange;
        }
    </style>
</head>
<body>
    <center>
        <h1>display_webpages</h1>
        <table border="3px">
            <tr>
                <th>topic_name</th>
                <th>Name</th>
                <th>URL</th>
            </tr>
{% for wo in QLWO %}
<tr>
    <td>{{wo.topic_name}}</td>
    <td>{{wo.name}}</td>
    <td>{{wo.url}}</td>
</tr>

{% endfor %}            
        </table>
    </center>
</body>
</html>